* {
    margin: 0%;
    padding: 0%
}

h1,
h2,
h3,
h4,
p ul {
    padding: 0;
    margin: 0;
}

.navbar-brand {
    width: 200px;
}

header {
    background-color: #F0FFF0;
    height: 100vh;
}

.height {
    height: 85vh;
    align-items: center;

}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;

}

.btn_signin {
    background-color: #21B573;
    color: #fff !important;
    border-radius: 30px;
}

.btn_signin:hover {
    background: #fbd15b;
}

.banner_content {}

.banner_content a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FD511A;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;


}

.banner_content h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    color: #000000;

}

.banner_content h1 span {
    color: #21B573;

}

.banner_content p {

    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    color: #6C6B6B;



}

.btn_start {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff !important;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 20px;
    background: #21B573;
    border: none;
    transition: .4s all ease-in-out;

}

.btn_start:hover {
    background: #59caf6;

}

.feature_contant {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #F8FFFB;
    border-radius: 10px;
    padding: 24px 0;
    margin-bottom: 20px;
}

.feature_contant img {

    width: 90px;
    height: 100px;
}

.feature_contant p {

    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #585859;
}

.feature_contant h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #413960;
    padding: 16px 0;
}

.feature_contant:hover {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px
}

.online_content {
    background: #ffffff;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    ;
    border-radius: 18px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.online_content img {
    width: 100%;
}

.online_content h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #413960;


    margin: 8px 0;
}

.online_content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #585859;


}

.online_content .btn_bye {
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
    background: #21B573;
    padding: 2px 16px;
    margin: 13px 0;
    border-radius: 33px;
    transition: .4s all ease-in-out;
}

.online_content .btn_bye:hover {
    background: #fbd15b;
}

.online_content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;


}

.online ul li {
    margin-right: -70px;

}

.online ul li i {}

.clint {
    margin-left: auto;

    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.clint img {}

.testimonial {
    font-family: 'Poppins', sans-serif;

}

.testimonial p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000000;


}
.testimonial h1{
    
font-size: 31px;
}

.footer_part {
    background-color: #000000;
    padding: 40px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;

}

.footer_part ul {
    list-style: none;

}

.footer_part ul li {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;

}

.footer_part ul h2 {

    color: #fff;

    font-size: 30px;

    font-weight: 500;
}

.footer_part ul li a {
    text-decoration: none;

    font-size: 14px;
    color: #FFFFFF;

}

.footer_part h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #CDCDCD;

}

.footer_part p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;

}